@{
    ViewBag.Title = "Logged Out";
    Layout = "_Layout";
}

<div class="container">
    <h1>You have been logged out</h1>
    <p>Your session has ended successfully. Click below to return to the home page or log in again.</p>
    <a class="btn btn-primary" href="/">Home</a>
</div>
