@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Futurist</h1>
    <h5>Forecasting the Trend of Raw materials Instability and Strategy</h5>
</div>